*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --NumbersFont: "Allerta Stencil", sans-serif;
  --LettersFont: "Biryani", sans-serif;
}

body {
  font-size: 15pt;
  text-align: center;
  width: min(100%, 480px);
  margin: 0 auto 0;
  font-family: var(--LettersFont);
  overflow :hidden ;
 
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5em;
   transition: transform  .2s ease-in-out ;
}
main button {
  cursor: pointer;
}

main header {
  grid-column: 1 / 8;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
main header h1 {
  font-size: 0.7em;
  text-transform: uppercase;
}

main header button {
  font-family: var(--LettersFont);
  display: inline-block;
  background-color: #6082b6;
  border: none;
  padding: 0.3em 0.7em;
  border-radius: 0.4em;
  text-transform: capitalize;
  color: #f5f5f5;
}

main .timer {
  grid-column: 1 / 8;
  padding: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

main .timer span {
  font-family: var(--NumbersFont);
  font-size: 2em;
}

main .player__score {
  grid-column: 1 / 8;
}

main .player__score span {
  font-size: 0.7em;
}

main .in-game__mission {
  grid-column: 1 / 8;
  text-align: center;
  padding: 0.4em;
}

main .in-game__mission p {
  font-size: 0.8em;
  text-align: center;
  text-transform: capitalize;
}

main .in-game__mission p span {
  font-family: var(--NumbersFont);
}

main .game__box {
  grid-column: 1 / 7;
  height: 25rem; 
  border-radius: 0.4em;
  cursor: pointer;
  background: hsla(197, 100%, 63%, 1);
  transition: all .2s ease-in-out;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}

main .game__box.gravityShift {
  height: 10rem;
  width: 10rem;
  animation: float 1s ease-in-out infinite alternate-reverse;
}
/* Define the floating animation */
@keyframes float {
  0% { transform: translate(170px, 30px); }
  50% { transform: translate(120px, 30px); }
  100% { transform: translate(170px, 50px); }
}


main .game__power__ups {
  grid-column: 7 / 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

main .game__power__ups div {
  width: 3rem;
  height: 3rem;
  border-radius:.7em;
  background-color: #f5f5f5;
  display: grid;
  place-items: center;
}

main .game__power__ups div svg {
  width: 1.5em;
  height: 1.5em;
}

main .game__power__ups div.active {

  background-color: hsla(294, 100%, 55%, 1);
}

main .game__power__ups div.active svg{

  fill: #f5f5f5;
}

main .game__state {
  width: fit-content;
  text-align: center;
  display: flex;
  gap: 3em;
  position: relative;
  margin: 3% auto;
  grid-column: 1 / 7;
}

main .game__state button {
  display: block;
  border: none;
  padding: 0 0.2em;
  border-radius: 0.5em;
  height: 3rem;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--LettersFont);
  font-weight: 600;
  background-color: transparent;
  position: relative;
}

main .game__state button:disabled {
  opacity: 0.9;
}

main .game__state .takeBreak::after {

  content: attr(data-restCount);
  background-color: #6082b6;
  width: 1em;
  height: 1em;
  border-radius: .2em;
  position: absolute;
  display: grid;
  place-content: center;
  top: -7%;
  right: 0;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 1.3em;
}



main .game__state .smart_bar {
  position: absolute;
  bottom: 0;
  height: 0.3em;
  background: hsla(299, 100%, 55%, 1);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  transition: transform 0.2s ease-in-out;
  transition-timing-function: cubic-bezier(0.25, 1, 0.22, 1.1);
}

.menu {
  
  position :fixed ;
  left: 0;
  top: 0;
  height: 100%;
  width: 70%;
  z-index :5 ;
  background-color :#FFFFFF ;
  box-shadow :0 0 7px rgba(183,185,190,.4);
  display :flex ;
  flex-direction :column ;
  justify-content :flex-start ;
  align-items :center ;
  overflow-y :auto ;
  padding:.3em;
  transform: translateX(-700px);
  transition: transform  .2s ease-in-out ;
}

.menu.active{
  
    transform: translateX(0);
    transition: transform  .2s ease-in-out ;
}

.menu.active ~ main {
   transform: translateX(10px);
   transition: transform  .2s ease-in-out ;
   opacity: 0.8;
}


.menu details {
  
  width: 100%;
  text-align :left ;
  text-transform :capitalize ;
  border :1px solid rgba(192,181,187,.4);
  margin :1em 0;
  padding:.5em;
  border-radius :.4em;
  transition: all  .2s ease-in-out ;
}





.menu details summary {
  
  font-weight :300 ;
  font-size :.9em ;
  list-style: none;
}
.menu  details p {
  
  font-size :.8em;
  padding-top:.7em;
  font-weight :200 ;
}


.menu details div {
  
  width :100%;
  height :auto ;
  margin :1em 0;
  border :1px solid rgba(192,181,187,.4);
  padding:.5em;
  border-radius :.4em;
}

.menu  details div span {
  
  display :block ;
  margin: 0;
  font-weight :400 ;
  font-size :.8em;
}

.menu .action_btns {
  
  width: 100%;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  flex-wrap :wrap ;
  border-top: 1px solid rgba(192,181,187);
  padding-top :3em;
}

.menu  .action_btns button {
  
  flex-grow :1 ;
  display :flex ;
  justify-content :center ;
  align-items :center ;
  padding: 1em 0;
  gap: 1em;
  background-color :#252525;
  color: #FFFFFF;
  border :none ;
  margin: 1em 0;
  border-radius :.4em;
}

.menu .action_btns  button svg {
  
  width: 2em;
  height: 2em;
  fill: #E0E1DD ;
}

.menu  .action_btns button p {
  
  font-family :var(--LettersFont);
  text-transform :capitalize ;
  font-size :1em ;
}